
*.pt
*.npy
raw_data
raw_data.zip

METRLA/metr-la-plus.h5
METRLA/adj_mx_ha_la.pkl
visualizations/results
model/GCRN_old.py
model/traintest+_GCRN_old.py
model/traintest_GCRN_old.py
visualizations/METRLA
METRLA/day-ha-la.pkl
METRLA/week-ha-la.pkl
PEMSBAY/pems-bay.h5
EXPYTKY/gen_dataplus_expytky.zip
EXPYTKY/expy-tky_plus_202110.csv.gz
EXPYTKY/expy-tky_plus_202111.csv.gz
EXPYTKY/expy-tky_plus_202112.csv.gz

METRLA/*.npz
PEMSBAY/*.npz
PEMS04/*.npz
PEMS08/*.npz

__pycache__/
logs/
save/
*.npz
PEMS-BAY.h5
.DS_Store
temp*
fig_debug_NL
